@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Override Variables

$main-bg-color: #252B42;
$main-text-color: #ffffff;

.bg-custom {
    background-color: $main-bg-color;
    color: $main-text-color;
}


@import "../node_modules/bootstrap/scss/bootstrap";